.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-area: footer;
    /*background-color: rgba(255, 255, 255, 0.2);*/
    background-color: rgba( 52, 67, 58, 0.5);
    margin-top: 30%;
    height: 50%;

}

.social, .discription, .my_about {
    padding: 20px;
}

.social {
    height: 30px;
    width: 30px;
    margin-left: 20px;
}

.discription {

}

.my_about {

}