body {
    display: grid;
    grid-template-areas:
    "header"
    "footer";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    height: 100vh;
    margin: 0;
    background-image: url("./img/abstract-2560x1440-21830.jpg");
    font-family: 'Dosis', sans-serif;
}



